[submodule "zaidkilani/royalline-addons"]
	path = zaidkilani/royalline-addons
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "odoo/odoo"]
	path = odoo/odoo
	url = git@github.com:odoo/odoo.git
	branch = 12.0

[submodule "zaidkilani/testcode21"]
	path = zaidkilani/testcode21
	url = git@github.com:zaidkilani/testcode2.git
	branch = 123
